---<%
# route: /episodes
episodes = app.bridgetown_site.data.episodes.map { |e| e.merge(slug: Bridgetown::Utils.slugify(e.title)) unless e.title }
r.get do
  render_with data: {
    layout: :page,
    title: "Episodes",
    episodes: episodes
  }
end
%>---

<ul>
  <% resource.data.episodes.each do |episode| %>
    <li><a href="/episodes/<%= episode[:slug] %>"><%= episode[:title] %></a></li>
  <% end %>
</ul>
