---
layout: page
title: About
---

<div class="max-w-7xl mx-auto pt-16 pb-8 px-4 sm:py-24 sm:px-6 lg:px-8">
  <div class="text-center">
    <p class="max-w-2xl mt-5 mx-auto text-xl text-gray-200">
      The Code and the Coding Coder who Code it podcast is all about programming, Ruby, and the Ruby on Rails framework. Sometimes we even talk JavaScript. In each episode, guests answer 3 questions:
    </p>
    <ol>
      <li>What are you working on?</li>
      <li>What's blocking you?</li>
      <li>What's something cool you want to share?</li>
    </ol>
  </div>
</div>
