---
layout: default
---

<div class="pt-8 pb-20 px-4 sm:px-6 lg:pt-24 lg:pb-28 lg:px-8">
  <%= render Episodes::SectionComponent.new(title: "Full Episodes", episodes: site.data.episodes.reject { |e| e.episode_number.nil? }) %>
  <%= render Episodes::SectionComponent.new(title: "Bonus Episodes", episodes: site.data.episodes.select { |e| e.episode_number.nil? }) %>
</div>
