---
layout: default
title: ""
---

<div class="grid grid-cols-3 gap-4">
  <div class="text-center pt-8 pl-3 sm:block hidden">
    <p class="text-2xl font-bold border-b-2 border-red-400 w-1/2 mx-auto pb-3 mb-3">Listen on</p>
    <div class="grid space-y-2 mb-12">
      <%= render AppLinkComponent.with_collection(site.data.podcast_apps) %>
    </div>
    <p class="text-2xl font-bold border-b-2 border-red-400 w-1/2 mx-auto pb-3 mb-3">Thank You, Sponsors</p>
    <div class="grid space-y-2 mb-12">
      <%= render AppLinkComponent.with_collection(site.data.sponsors) %>
    </div>
  </div>


  <div class="sm:col-span-2 col-span-3 overflow-hidden shadow rounded-lg mx-auto pt-8 w-full">
    <div class="sm:pr-16 px-5 py-5">
     <%= render PlayerComponent.new %>
    </div>
  </div>
</div>
