---
# Feel free to add content and custom Front Matter to this file.

layout: default
---

<div class="md:flex max-w-7xl mx-auto pt-16 pb-12 px-4 sm:px-6 lg:px-8">
  <div class="mr-8 flex-shrink-0 self-center">
    <img class="h-72 w-72 rounded-xl" src="<%= relative_url '/images/podcast.jpeg' %>" alt="Logo">
  </div>
  <div class="mt-4">
    <h4 class="text-6xl font-bold"><%= site.metadata.title %></h4>
    <p class="mt-2 text-2xl text-slate-400"><%= site.metadata.description %></p>
  </div>
</div>

<hr class="w-3/4 mx-auto border border-red-400 w-">

<div class="overflow-hidden shadow rounded-lg mx-auto sm:w-2/3 pt-8">
  <div class="px-4 py-5 sm:p-6">
    <div id='buzzsprout-small-player'></div><script type='text/javascript' charset='utf-8' src='https://www.buzzsprout.com/1927628.js?artist=&container_id=buzzsprout-small-player&player=small'></script>
  </div>
</div>


