<div class="md:flex max-w-7xl mx-auto sm:pt-16 pt-8 pb-12 px-4 sm:px-6 lg:px-8">
  <div class="mr-8 flex-shrink-0 self-center">
    <img class="sm:h-72 h-40 w-auto rounded-xl" height="288" width="288" src="<%= relative_url '/images/podcast.jpeg' %>" alt="Logo">
  </div>
  <div class="mt-4">
    <h4 class="sm:text-6xl text-4xl font-bold"><%= site.metadata.title %></h4>
    <p class="mt-2 sm:text-2xl text-lg text-slate-400"><%= site.metadata.description %></p>
  </div>
</div>

<hr class="w-3/4 mx-auto border border-red-400">
